<div class="container mx-auto card">
	<div class="row py-4">
		<div class="col-md-4">
			<img
				src="{{product.thumbnail}}"
				class="card-img-top"
				alt="{{product.name}}"
			/>
		</div>
		<div class="col-md-8">
			<h1 class="prod-name">{{product.name}}</h1>
			<p class="w-50">{{product.description}}</p>
			<p class="prod-price">Price: ${{product.price}}</p>
			<button
				class="btn btn-primary"
				data-productID="{{product.id}}"
				id="addCart"
			>Add to cart</button>
		</div>
	</div>
</div>