<div class="col-md-4 my-4">
	<div class="card rounded" style="width: 18rem;">
		<img src="{{thumbnail}}" class="card-img-top" alt="{{thumbnail}}" />
		<div class="card-body">
			<h5 class="card-title">{{name}}</h5>
			<p class="card-text">{{price}}</p>
			<a href="/product/{{id}}" class="btn btn-primary">Show more</a>
		</div>
	</div>
</div>