<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card">
			<div class="card-header">
				<div class="d-flex justify-content-between align-items-center">
					Account Register
					<i class="fa fa-user-plus" aria-hidden="true"></i>
				</div>
			</div>
			<div class="card-body">
				<form action="/users/signup" method="post">
					<div class="form-group my-4">
						<input
							type="text"
							name="name"
							class="form-control"
							placeholder="Name"
							{{#if name}}
								value="{{name}}"
							{{/if}}
						/>
					</div>
					<div class="form-group my-4">
						<input
							type="text"
							name="address"
							class="form-control"
							placeholder="Address"
							{{#if address}}
								value="{{address}}"
							{{/if}}
						/>
					</div>
					<div class="form-group my-4">
						<input
							type="text"
							name="age"
							class="form-control"
							placeholder="Age"
							{{#if age}}
								value="{{age}}"
							{{/if}}
						/>
					</div>
					<div class="form-group my-4 d-flex gap-1">
						<div class="w-50" tooltip="Example AR: +54" flow="left">							
							<input
								type="number"
								name="countryCode"
								class="form-control "
								placeholder="Code"
								{{#if countryCode}}
									value="{{countryCode}}"
								{{/if}}
							/>
						</div>
						<div>
							<input
								type="number"
								name="cellphone"
								class="form-control"
								placeholder="Cellphone number"
								{{#if cellphone}}
									value="{{cellphone}}"
								{{/if}}
							/>
						</div>
					</div>
					<div class="form-group my-4" tooltip="Feature in progress 🦺" flow="left">
						<input type="file" name="image" placeholder="Sube tu foto!" class="form-control"  disabled>
					</div>
					<div class="form-group my-4">
						<input
							type="email"
							name="email"
							class="form-control"
							placeholder="Email"
							{{#if email}}
								value="{{email}}"
							{{/if}}
						/>
					</div>
					<div class="form-group my-4">
						<input
							type="password"
							name="password"
							class="form-control"
							placeholder="Password"
						/>
					</div>
					<div class="form-group my-4">
						<input
							type="password"
							name="confirm_password"
							class="form-control"
							placeholder="Confirm Password"
						/>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary w-100">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>